<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 45rem;">
      <img class="card-img-top" src="https:<%= @recipe.photo.url %>?w=650&h=650">
      <div class="card-body">
        <h5 class="card-title"><%= @recipe.title %></h5>
        <p class="card-text"><%= @recipe.description %></p>
        <% if @recipe.has_tags? %>
          <p>Tags: <%= @recipe.joined_tags %></p>
        <% end %>
        <% if @recipe.has_chef_name? %>
          <p>Chef name: <%= @recipe.chef_name %></p>
        <% end %>
        <a href="/" class="btn btn-primary">Back to listing</a>
      </div>
    </div>
  </div>
</div>
